 <div class="container">
    <form class="form-inline">
    <!-- <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>nom makeUp </label>
       <input type="text" class="form-control" [(ngModel)]="nomMakeUp" name="nomMakeUp" class="form-control">
        <button type="submit" (click)="rechercherMake()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">

    </div>-->
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom MakeUp en tapant</label>
        <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
        </div>
        </form>
        
</form>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>reference</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>quantite</th>
                         <th>Marque</th>
                    </tr>
                </thead>
                <tbody *ngFor="let makeUp of MakeUp | searchFilter: searchTerm ">
                    <tr>
                        <td>{{makeUp.referenceMakeUp}}</td>
                        <td>{{makeUp.nomMakeUp}}</td>
                        <td>{{makeUp.prixMakeUp}}</td>
                        <td>{{makeUp.quantite}}</td>
                         <td>{{makeUp.marque.nomMarq}}</td>
                       
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 